*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#splash {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui, sans-serif;
  z-index: 9999;
}

.splash-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  gap: 1rem;

  transform: translateY(30px);
  animation: moveUpSplash 1s linear forwards;
  animation-delay: 1.4s;
}

@keyframes moveUpSplash {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0px);
  }
}

#splash.hidden {
  animation: fadeOutAndHide 1s ease forwards;
}

@keyframes fadeOutAndHide {
  100% {
    display: none;
  }
}

.small-star {
  height: 120px;
  width: 120px;
  animation: enterAndSpin 1.4s linear forwards;
}

@keyframes enterAndSpin {
  0% {
    transform: translate(-130px, -20px) scale(0) rotate(0deg);
    opacity: 0;
  }

  60% {
    opacity: 0.6;
  }

  100% {
    transform: translate(0, 0) scale(1) rotate(180deg);
    opacity: 1;
  }
}

.big-star-container-bg {
  background-color: white;
  height: 240px;
  width: 240px;
  z-index: 1;

  transform: rotate(45deg) translate(-32%, 50%);

  animation: scaleIn 1.8s linear forwards;
}

@keyframes scaleIn {
  to {
    transform: rotate(45deg) translate(-50px, -50px);
  }
}

.big-star-container {
  height: 120px;
  width: 240px;
  position: relative;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  animation-delay: 1.8s;

  opacity: 0;

  animation: showStar 0.2s linear forwards;
}

.big-star-svg {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 122px;
  width: 100%;
  transform: translateZ(0);
}

@keyframes showStar {
  to {
    opacity: 1;
  }
}

.splash-text {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 2.75rem;
  animation: moveUpText 1s ease-in both;
  animation-delay: 1.4s;
}

@keyframes moveUpText {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-before-hide-fast {
  animation: fadeOut 1s ease forwards;
  pointer-events: none;
}

.fade-before-hide-slow {
  animation: fadeOut 1s ease forwards !important;
  animation-delay: 0.5s !important;
  pointer-events: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
